<div class="text-center"><h2>Find <strong>The BEST</strong> car for you</h2></div>


<!--<li class="btn-route" id="sortByPrice-Low"><a href="#">Най-ниска цена</a></li>-->
<!--<li class="btn-route" id="sortByPrice-High"><a href="#">Най-висока цена</a></li>-->
<div class="container">
    <div class="row">
        </br>
        {{#each cars}}
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">{{manufacturer}}</div>
                <div class="panel-body">
                    <div id="myCarousel{{@index}}" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel{{@index}}" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel{{@index}}" data-slide-to="1"></li>
                            <li data-target="#myCarousel{{@index}}" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {{#each images}}
                                {{#if @first}}
                                    <div class="item active">
                                {{else}}
                                    <div class="item">
                                {{/if}}
                                    <img src="{{this}}" class="img-responsive" style="width:100%" alt="Image">
                                    <div class="carousel-caption">
                                    </div>
                                    </div>
                            {{else}}
                                <img src="./../images/no-image.png" class="img-responsive" style="width:100%" alt="Image">
                            {{/each}}

                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel{{@index}}" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel{{@index}}" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="panel-footer">
                    <p>Модел: {{model}}</p>
                    <p>Тип: {{type}}</p>
                    <p>Цена: {{price}}</p>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#{{_id}}">Информация</button>
                </div>
            </div>
        </div>


        <div id="{{_id}}" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">Информация за модела</h4>
                    </div>
                    <div class="modal-body">
                        <p>Производител:{{manufacturer}}</p>
                        <p>Модел:{{model}}</p>
                        <p>Тип:{{type}}</p>
                        <p>Конски сили:{{horsepower}}</p>
                        <p>Цвят:{{color}}</p>
                        <p>Гориво:{{fuel}}</p>
                        <p>Пробег:{{kilometersTraveled}}</p>
                        <p>Цена:{{price}}</p>
                        <p>Скоростна кутия:{{transmision}}</p>
                        <p>Година на производство:{{yearOfManufacture}}</p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        {{/each}}

    </div>
</div>
<br>