<div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >  
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">{{user._username}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center">
                  {{#if user._image}}
                    <img alt="User Pic" src={{user._image}} class="img-circle img-responsive"> 
                  {{else}}
                    <img alt="User Pic" src="../images/avatar-294479_1280.png" class="img-circle img-responsive">
                  {{/if}}
                </div>
                 <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>First Name:</td>
                        <td>{{user._firstName}}</td>
                      </tr>
                      <tr>
                        <td>Last Name:</td>
                        <td>{{user._lastName}}</td>
                      </tr>
                      <tr>
                        <td>Phone number:</td>
                        <td>{{user._phoneNumber}}</td>
                      </tr>
                      <tr>
                        <td>E-mail:</td>
                        <td>{{user._email}}</td>
                      </tr>                   
                    <tr>
                        <td>Country:</td>
                        <td>{{user._country}}</td>
                      </tr>
                        <tr>
                        <td>Town: </td>
                        <td>{{user._town}}</td>
                      </tr>                    
                    </tbody>
                  </table>         
                  <a href="#/myAds" class="btn btn-primary">My ads</a>
                  <form id="upload-image-form" class="form-group" action="#/profile">
                    <h4>Upload profile picture</h4>
                    <input  id="file" type="file" class="form-control" name="uploadedImage" />
                    <div id="imgContainer" class="col-sm-12"></div>
                    <br>
                    <button type="submit" id="submit-image" class="btn btn-primary pull-right">Save image <span class="glyphicon glyphicon-send"></span></button>                   
                    </br>
                  </form> 
              </div>
            </div>
            <div class="panel-footer">
            </div>
          </div>
        </div>
      </div>
    </div>