<h1>user profile</h1>
<h3>{{user._username}}</h3>
<h3>{{user._firstName}}</h3>
<h3>{{user._lastName}}</h3>
<h3>{{user._email}}</h3>
<h3>{{user._phoneNumber}}</h3>
<h3>{{user._country}}</h3>
<h3>{{user._town}}</h3>